*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body-courseDetail {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.main-courseDetail {
  width: 100%;
  margin: 1rem auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 29rem 1fr;
  grid-row: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  margin: 0 auto;
  width: 90%;
}

.course-img {
  width: 100%;
  aspect-ratio: 1/0.5;
  box-shadow: 1px 1px 0.4px 0px;
  border: 0.5px solid black;
}

/* *************************** card 1 styling ****************************** */

.card1 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 0px;
  gap: 0.5rem;
  padding: 0.5rem 0.3rem;
}

.card1 h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}

.card1 h4 {
  text-align: center;
  font-size: 1.1em;
}

.card1-body {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.card1-body button {
  padding: 0.3rem 0.25rem;
  background-color: rgb(237, 237, 110);
  border: none;
  border-radius: 1px;
  box-shadow: 0.5px 0.5px 0.5px;
  cursor: pointer;
}

.card1-body p a {
  color: midnightblue;
  font-weight: 700;
  font-size: 1em;
}

.star {
  color: gold;
}

.card1 p {
  text-align: center;
}

.enroll-button {
  align-self: center;
  padding: 0.4rem 1.1rem;
  color: whitesmoke;
  background-color: #0056d2;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
}

.enroll-button:hover {
  background-color: #0f4ca1;
  cursor: pointer;
}

.start-date {
  font-weight: 300;
  font-size: 12px;
}

.modal-card {
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
  border: 0.2px solid black;
  z-index: 1000;
  padding: 0.5rem 1rem 1rem 1rem;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 80vh;
  height: 600px;
  width: 35%;
  border-radius: 4px;
}

.hidden {
  display: none;
}

.modal-card-header {
  display: flex;
  flex-direction: column;
  margin: 1rem 0.5rem 0rem 2rem;
}

.modal-card h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-card h3 span {
  text-align: center;
  margin: 0 auto;
  transform: translateX(-20px);
}

.modal-card p {
  text-align: center;
  font-size: 14px;
  color: rgb(74, 73, 73);
  width: 60%;
  margin: 0rem 0.5rem 0rem 2rem;
}

.close-modal-card {
  padding: 0.4rem 0.4rem;
  font-size: 20px;
  background-color: whitesmoke;
  border: none;
  cursor: pointer;
  transition: background-color 0.7s ease-in-out;
  padding: 0.3rem 0.4rem;
  border-radius: 50%;
}

.close-modal-card:hover {
  font-size: 20px;
  background-color: rgb(215, 229, 234);
}

.enroll-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0.5rem 1rem 2rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  width: 80%;
  padding: 0.7rem 0.3rem;
}

.form-button {
  padding: 0.7rem 1.1rem;
  color: whitesmoke;
  background-color: #0056d2;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 80%;
}

.form-button:hover {
  background-color: #0f4ca1;
  cursor: pointer;
}

/* *************************** card 2 styling ****************************** */

.card2 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 0px;
  padding: 0.5rem 0.3rem;
}

.card2 h3 {
  text-align: center;
}

.card2 ul {
  /* list-style: ; */
  margin-top: 0.5rem;
  padding-left: 1rem;
  font-size: 14px;
}

.learn-more-card1 {
  padding: 3.5rem 0.2rem 0.1rem 1rem;
}

.learn-modal-close-button {
  position: absolute;
  right: 0.7rem;
  top: 0.6rem;
}

.learn-more-card1 h2 {
  margin-bottom: 1rem;
}

.learn-body {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.learn-body h3 {
  text-decoration: underline;
  cursor: pointer;
}

.ok {
  align-self: center;
  margin-top: 1rem;
  transform: translateX(-10px);
  font-weight: 600;
  padding: 0.5rem 1.3rem;
  color: whitesmoke;
  background-color: #0056d2;
  border: none;
  border-radius: 6px;
  transition: background-color 0.5s ease-in;
}

.ok:hover {
  background-color: #0f4ca1;
  cursor: pointer;
}

/* *************************** card 3 styling ************************************ */
.card3 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 0px;
  padding: 0.5rem 0.3rem;
}

.card3 h3 {
  text-align: center;
  font-weight: bold;
}

.card3-body {
  /* align-self: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  margin: 0.6rem 0.4rem;
}

.card3-body p {
  padding: 0.4rem;
  margin-bottom: 0.7rem;
  font-weight: 100;
  font-size: 14px;
  background-color: #92b2de;
  border-radius: 6px;
}

.explore p:hover {
  cursor: pointer;
  background-color: #5d84ba;
}

/* ********************* style card4 */

.card4 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 0px;
  padding: 0.5rem 0.3rem;
  margin: 1rem auto;
  width: 700px;
}

.card4 h4 {
  text-align: center;
}

.card4 p {
  font-size: 14px;
}

.company-logo {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0.4rem auto;
}

.logo {
  width: 25px;
  aspect-ratio: 1/1;
}

.gpay-logo {
  width: 30px;
}

.techplement-logo {
  width: 70px;
  height: 30px;
  background-color: black;
}

.learn-more-card4 {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  padding: 3rem 0.2rem 0.1rem 1rem;
  gap: 0.6rem;
}

.badge-logo {
  align-self: center;
  width: 70px;
  aspect-ratio: 1/1;
}

.learn-more-card4 h1 {
  align-self: center;
  margin-right: 0.8rem;
  font-size: larger;
}

.learn-more-card4 p {
  width: 100%;
  margin: 0;
}

.learn-more-card4 h3 {
  align-self: center;
  margin-top: 0.2rem;
}

/* ********************************** Media queries */

@media screen and (max-width: 1300px) {
  .modal-card {
    position: fixed;
    top: 48%;
    left: 50%;
    bottom: 15%;
    max-height: 90vh;
    height: 600px;
    width: 40%;
    border-radius: 4px;
  }
  .hidden {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .modal-card {
    width: 45%;
  }
}

@media screen and (max-width: 1030px) and (min-width: 920px) {
  .wrapper {
    width: 95%;
    grid-template-columns: 27rem 1fr;
  }

  .card1 h3 {
    font-size: 1.2em;
  }

  .card1 h4 {
    font-size: 1em;
  }

  .card1-body p a {
    font-size: 0.9em;
  }
  .card1 p {
    font-size: 1em;
  }
  .modal-card {
    width: 50%;
  }
}

@media screen and (max-width: 920px) and (min-width: 730px) {
  .wrapper {
    width: 95%;
    grid-template-columns: 25rem 1fr;
  }

  .course-img {
    aspect-ratio: 1/0.5;
    box-shadow: 1px 1px 0.4px 0px;
  }

  .card1 h3,
  .card1-body p a {
    font-size: 1em;
  }

  .card1 h4 {
    font-size: 0.8em;
  }

  .card1 p {
    text-align: center;
    font-size: 0.7em;
  }

  .card2 {
    padding: 0.5rem 0.3rem;
  }

  .card2 h3 {
    font-size: 1em;
  }

  .card2 ul {
    margin-top: 0.5rem;
    padding-left: 1rem;
    font-size: 0.8em;
  }

  .card3 h3 {
    font-size: 1em;
  }

  .card3-body p {
    padding: 0.4rem;
    margin-bottom: 0.7rem;
    font-size: 0.7em;
  }

  .modal-card {
    width: 60%;
  }
}

@media screen and (max-width: 730px) and (min-width: 630px) {
  .wrapper {
    width: 95%;
    grid-template-columns: 20rem 1fr;
  }

  .course-img {
    width: 100%;
    aspect-ratio: 1/0.65;
    box-shadow: 1px 1px 0.4px 0px;
  }

  .card1 h3,
  .card2 h3,
  .card3 h3 {
    font-size: 1em;
  }

  .card1 h4 {
    font-size: 0.8em;
  }

  .card1-body p a {
    font-size: 0.9em;
  }

  .card1 p {
    font-size: 0.7em;
  }

  .card2 ul {
    margin-top: 0.5rem;
    padding-left: 1rem;
    font-size: 0.8em;
  }

  .card3-body p {
    padding: 0.4rem;
    margin-bottom: 0.7rem;
    font-size: 0.7em;
    border-radius: 6px;
  }

  .card4 {
    width: 600px;
  }

  .card4 h4 {
    text-align: center;
    margin-bottom: 0.2rem;
  }

  .card4 p {
    font-size: 12px;
  }

  .modal-card {
    width: 70%;
  }
}

@media screen and (max-width: 630px) {
  .wrapper {
    width: 90%;
    display: grid;
    grid-template-columns: 0.95fr;
    grid-row: 1fr 1fr;
    row-gap: 1.5rem;
    margin: 0 auto;
  }

  .card1,
  .card2,
  .card3 {
    box-shadow: 0;
  }

  .course-img {
    width: 100%;
    aspect-ratio: 1/0.5;
    box-shadow: 0px 0px;
  }

  .card1 h3 {
    font-size: 1.2em;
  }

  .card1 h4,
  .card1-body p a,
  .card2 h3,
  .card3 h3 {
    font-size: 1em;
  }

  .card1 p {
    font-size: 0.9em;
  }

  .card2 ul {
    margin-top: 0.5rem;
    padding-left: 1rem;
    font-size: 0.8em;
  }

  .card3-body p {
    padding: 0.4rem;
    margin-bottom: 0.7rem;
    font-size: 0.7em;
  }

  .card4 {
    width: 90%;
    margin: 1rem auto;
  }

  .card4 h4 {
    margin-bottom: 0.2rem;
    font-size: 0.8em;
  }

  .card4 p {
    font-size: 10px;
  }

  .company-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.4rem auto;
  }

  .logo {
    width: 20px;
  }

  .techplement-logo {
    width: 45px;
  }

  .modal-card {
    width: 85%;
  }
}
